<%= form_with(model: team, local: true) do |form| %>

  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> Não foi possível salvar o time</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-criar-time">
  <div class="field-criar-times">
    <%= form.label "nome do time" %>
    <%= form.text_field :name_team, :class => "criar-time-input" %>
  </div>

  <div>
  <%= form.submit "Criar time", :class => "actions-criar-times" %>
  </div>
  <%= link_to 'Mostrar', @team, class:"botao-mostrar-editar-time" %>
  <%= link_to 'Voltar', teams_path, class:"botao-voltar-criar-time" %>
</div>
<% end %>
