<<<<<<< HEAD
<p id="notice"><%= notice %></p>
=======


>>>>>>> 65603ff4c6f4b972193904df75c7b30937d6aaed
<p>
  <strong>Nome do Time:</strong>
  <%= @team.name_team %>
</p>
<<<<<<< HEAD
<p>
<% @users.each do |user| %>
<% if user.team_id == @team.id %>
  <p><%= user.name %></p><br>
<% end %>
<% end %>
</p>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
=======

<%= link_to 'Editar', edit_team_path(@team) %> |
<%= link_to 'Voltar', teams_path %>
>>>>>>> 65603ff4c6f4b972193904df75c7b30937d6aaed
