<div class= "box-novo-cadastro">

<%= form_with(model: office, local: true) do |form| %>
<%= hidden_field_tag "office[user_id]", current_user.id %>
  <div class="field">
    <h2><%= form.label "Nome do Cargo:" %></h2>
    <%= form.text_field :name_office, class: "input-novo-cadastro" ,id: :office_name_office %>
  </div>
  <div class="field">
    <h3><%= form.label "Número de Permissão:" %></h3>
    <%= form.number_field :permission, class: "input-novo-cadastro" , id: :office_permission %>
  </div>
  <div class="actions">
    <%= form.submit "Criar Cargo", class: "botao-novo-cadastro" %>
    <%= link_to 'Voltar', offices_path, :class=>"botao-back-novo-cadastro" %>
  </div>
  </div>
<% end %>


      
