<h1>Login</h1>

<%= form_for :session, url: :login do |form| %>

  <%= form.label "E-mail" %>
  <%= form.email_field :email %>

  <%= form.label "Senha" %>
  <%= form.password_field :password %>

  <%= form.submit "Entrar" %>

  <button><%= link_to 'Esqueceu sua Senha ?', "redefine_password/search" %></button>


<% end %>
