<%= form_for :session, url: :login do |form| %>


<div class="logo-login">
<%= link_to index_user_path do %>
  <%= image_tag("logo_header.png")%>
<% end %>
</div>

  <section id ="login">
      
    <div class= "box-login">
      
      <h2>Email (@injunior.com.br): </h2>
      <%= form.email_field :email, class: "input-login", id: "login" %>

      <h3>Senha:</h3>
      <%= form.password_field :password, class: "input-login", id: "senha" %>
      <%= form.submit "Entrar", class:"botao-login"%>

      <li><%= link_to "Esqueceu sua Senha?", index_user_path %></li>
      
    </div>
  </section>

<% end %>