<%= form_with(model: notification, local: true) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-novo-projeto">
    <div class="field-novo-projeto">
      <%= form.label "Nome da notificação:" %>
      <%= form.text_field :name_notification, id: :notification_name_notification %>
    </div>

    <div class="field-novo-projeto">
      <%= form.label "Texto:" %>
      <%= form.text_field :text, :class=>"field-especial-para-textos-grandes" %>
    </div>

    <div class="field-novo-projeto">
      <%= form.label :date_send %>
      <%= form.datetime_select :date_send, id: :notification_date_send %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
