<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<table>
  <thead>
    <table id="customers">
      <tr>
        <th>Name notification</th>
        <th>Text</th>
        <th>Date send</th>
      </tr>
    </thead>

    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.name_notification %></td>
          <td><%= notification.text %></td>
          <td><%= notification.date_send %></td>
          <td><%= link_to 'Show', notification %></td>
          <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
          <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'Criar Notificação', new_notification_path, class:"botao-criar-novo-time" %>
