<div class="container-show">

      
      <p class="nome-show">
        <strong class="noheight: 130px;me-show-titulo">Nome:</strong><br>
        <div class="nome-show-usuario"><%= @user.name%></div>
      </p>
      <hr class= "lh-show"></hr>
      <p class="email-show">
          <strong class="email-show-titulo">E-mail:</strong><br>
          <div class="email-show-usuario"><%= @user.email%></div>
      </p>
      <hr class= "lh-show"></hr>
      <p class="cargos-show">Cargos:</p>

          <% @offices.each do |office| %>
            <% if office.user.id == @user.id %>
              <p class="cargos-show-usuario"><%= office.name_office %></p><br>
            <% end %>
          <% end %>

      <%= link_to 'Cadastrar Cargo', new_office_path,  class:"botao-cadastro-cargo" %>

      <hr class= "lh-show"></hr>
      <p class="titulo-time-show">Time:</p>
      <% if @user.team_id != nil %>
        <p class="time-usuario-show"><%= @user.team.name_team %></p>
        <hr class= "lh-show"></hr>
      <% end %>

     <%= link_to 'Editar', edit_user_path(@user), class:"botao-cadastro-alert" %>
     <%= link_to 'Excluir', destroy_user_path, class:"botao-cadastro-alert2",
      method: :delete, data: { confirm: 'Você tem certeza?' } %>
</div>
