<p id="notice"><%= notice %></p>

<h1>Performed Goal Floats</h1>

<table>
  <thead>
    <tr>
      <th>January</th>
      <th>February</th>
      <th>March</th>
      <th>April</th>
      <th>May</th>
      <th>June</th>
      <th>July</th>
      <th>August</th>
      <th>September</th>
      <th>October</th>
      <th>November</th>
      <th>December</th>
      <th>Goal float</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performed_goal_floats.each do |performed_goal_float| %>
      <tr>
        <td><%= performed_goal_float.january %></td>
        <td><%= performed_goal_float.february %></td>
        <td><%= performed_goal_float.march %></td>
        <td><%= performed_goal_float.april %></td>
        <td><%= performed_goal_float.may %></td>
        <td><%= performed_goal_float.june %></td>
        <td><%= performed_goal_float.july %></td>
        <td><%= performed_goal_float.august %></td>
        <td><%= performed_goal_float.september %></td>
        <td><%= performed_goal_float.october %></td>
        <td><%= performed_goal_float.november %></td>
        <td><%= performed_goal_float.december %></td>
        <td><%= performed_goal_float.goal_float %></td>
        <td><%= link_to 'Show', performed_goal_float %></td>
        <td><%= link_to 'Edit', edit_performed_goal_float_path(performed_goal_float) %></td>
        <td><%= link_to 'Destroy', performed_goal_float, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performed Goal Float', new_performed_goal_float_path %>
