<%= form_with(model: goal_float, local: true) do |form| %>
  <% if goal_float.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_float.errors.count, "error") %> prohibited this goal_float from being saved:</h2>

      <ul>
      <% goal_float.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_goal_float %>
    <%= form.text_field :name_goal_float, id: :goal_float_name_goal_float %>
  </div>

  <div class="field">
    <%= form.label :year_goal_float %>
    <%= form.number_field :year_goal_float, id: :goal_float_year_goal_float %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
