
<h1>Meta por moeda ou valor</h1>

<table>
  <thead>
    <tr>
      <th>Name goal float</th>
      <th>Year goal float</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goal_floats.each do |goal_float| %>
      <tr>
        <td><%= goal_float.name_goal_float %></td>
        <td><%= goal_float.year_goal_float %></td>
        <td><%= link_to 'Show', goal_float %></td>
        <td><%= link_to 'Edit', edit_goal_float_path(goal_float) %></td>
        <td><%= link_to 'Destroy', goal_float, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal Float', new_goal_float_path %>
