<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_project %>
    <%= form.text_field :name_project, id: :project_name_project %>
  </div>

  <div class="field">
    <%= form.label :date_term %>
    <%= form.datetime_select :date_term, id: :project_date_term %>
  </div>

  <div class="field">
    <%= form.label :date_completed %>
    <%= form.datetime_select :date_completed, id: :project_date_completed %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id, id: :project_team_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :project_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
