<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-novo-projeto">
    <div class="field-novo-projeto">
      <%= form.label "Nome do Projeto:" %>
      <%= form.text_field :name_project, id: :project_name_project %>
    </div>

    <div class="field-novo-projeto">
      <%= form.label "Data de prazo:" %>
      <%= form.datetime_select :date_term, id: :project_date_term %>
    </div>

    <div class="field-novo-projeto">
      <%= form.label "Data de conclusão:" %>
      <%= form.datetime_select :date_completed, id: :project_date_completed %>
    </div>

    <div class="field-novo-projeto">
      <%= form.label "Time"%>
      <%= select("project", "team_id", Team.all.collect {|team| [ team.name_team,
        team.id ] }, id: :team) %>
      </div>

    <div class="field-novo-projeto">
      <%= form.label "PMO"%>
      <%= select("project", "user_id", User.all.collect {|user| [ user.name,
        user.id ] }, id: :user) %>
    </div>

      <%= form.submit "Criar projeto", :class=> "botao-criar-novo-projeto" %>
      <%= link_to 'Voltar', projects_path, :class=> "botao-voltar-novo-projeto"%>
  </div>
<% end %>
