

<h1 class="titulo-index-times">Projetos</h1>

<table>
  <thead>
    <table id="customers">
      <tr>
        <th>Nome do Projeto</th>
        <th>Data de Prazo</th>
        <th>Data de conclusão</th>
        <th>Time</th>
        <th>Usuário</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name_project %></td>
          <td><%= project.date_term %></td>
          <td><%= project.date_completed %></td>
          <td><%= project.team %></td>
          <td><%= project.user %></td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
</table>


<%= link_to 'Novo Projeto', new_project_path, class:"botao-criar-novo-time" %>
