
<p>
  <strong>Name project:</strong>
  <%= @project.name_project %>
</p>

<p>
  <strong>Date term:</strong>
  <%= @project.date_term %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @project.date_completed %>
</p>

<p>
  <strong>Team:</strong>
  <%= @project.team %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
