<p id="notice"><%= notice %></p>

<p>
  <strong>January:</strong>
  <%= @projection_goal_float.january %>
</p>

<p>
  <strong>February:</strong>
  <%= @projection_goal_float.february %>
</p>

<p>
  <strong>March:</strong>
  <%= @projection_goal_float.march %>
</p>

<p>
  <strong>April:</strong>
  <%= @projection_goal_float.april %>
</p>

<p>
  <strong>May:</strong>
  <%= @projection_goal_float.may %>
</p>

<p>
  <strong>June:</strong>
  <%= @projection_goal_float.june %>
</p>

<p>
  <strong>July:</strong>
  <%= @projection_goal_float.july %>
</p>

<p>
  <strong>August:</strong>
  <%= @projection_goal_float.august %>
</p>

<p>
  <strong>September:</strong>
  <%= @projection_goal_float.september %>
</p>

<p>
  <strong>October:</strong>
  <%= @projection_goal_float.october %>
</p>

<p>
  <strong>November:</strong>
  <%= @projection_goal_float.november %>
</p>

<p>
  <strong>December:</strong>
  <%= @projection_goal_float.december %>
</p>

<p>
  <strong>Goal float:</strong>
  <%= @projection_goal_float.goal_float %>
</p>

<%= link_to 'Edit', edit_projection_goal_float_path(@projection_goal_float) %> |
<%= link_to 'Back', projection_goal_floats_path %>
