<%= form_with(model: projection_goal_int, local: true) do |form| %>
  <% if projection_goal_int.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projection_goal_int.errors.count, "error") %> prohibited this projection_goal_int from being saved:</h2>

      <ul>
      <% projection_goal_int.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :january %>
    <%= form.number_field :january, id: :projection_goal_int_january %>
  </div>

  <div class="field">
    <%= form.label :february %>
    <%= form.number_field :february, id: :projection_goal_int_february %>
  </div>

  <div class="field">
    <%= form.label :march %>
    <%= form.number_field :march, id: :projection_goal_int_march %>
  </div>

  <div class="field">
    <%= form.label :april %>
    <%= form.number_field :april, id: :projection_goal_int_april %>
  </div>

  <div class="field">
    <%= form.label :may %>
    <%= form.number_field :may, id: :projection_goal_int_may %>
  </div>

  <div class="field">
    <%= form.label :june %>
    <%= form.number_field :june, id: :projection_goal_int_june %>
  </div>

  <div class="field">
    <%= form.label :july %>
    <%= form.number_field :july, id: :projection_goal_int_july %>
  </div>

  <div class="field">
    <%= form.label :august %>
    <%= form.number_field :august, id: :projection_goal_int_august %>
  </div>

  <div class="field">
    <%= form.label :september %>
    <%= form.number_field :september, id: :projection_goal_int_september %>
  </div>

  <div class="field">
    <%= form.label :october %>
    <%= form.number_field :october, id: :projection_goal_int_october %>
  </div>

  <div class="field">
    <%= form.label :november %>
    <%= form.number_field :november, id: :projection_goal_int_november %>
  </div>

  <div class="field">
    <%= form.label :december %>
    <%= form.number_field :december, id: :projection_goal_int_december %>
  </div>

  <div class="field">
    <%= form.label :goal_int_id %>
    <%= form.text_field :goal_int_id, id: :projection_goal_int_goal_int_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
