<div class="logo-cadastro">
<%= link_to index_user_path do %>
  <%= image_tag("logo_header.png")%>
<% end %>
</div>

<h1 class="titulo-redefsenha">Esqueceu sua senha?<h1>

<div class="container-redefsenha">
  <p>Digite seu email para recuperar:</p>

  <%= form_for :user, url: :redefine_password do |form| %>
    <%= form.label "E-mail" %>

    <%= form.email_field :email, placeholder: "seuemail@injunior.com.br" %>
    <%= form.button "Buscar", class:"botao-redefsenha"%>
    <%= link_to 'Voltar', login_path, :class=> "botao-voltar-cadastro"%>

</div>
<% end %>
