<p id="notice"><%= notice %></p>

<p>
  <strong>January:</strong>
  <%= @performed_goal_int.january %>
</p>

<p>
  <strong>February:</strong>
  <%= @performed_goal_int.february %>
</p>

<p>
  <strong>March:</strong>
  <%= @performed_goal_int.march %>
</p>

<p>
  <strong>April:</strong>
  <%= @performed_goal_int.april %>
</p>

<p>
  <strong>May:</strong>
  <%= @performed_goal_int.may %>
</p>

<p>
  <strong>June:</strong>
  <%= @performed_goal_int.june %>
</p>

<p>
  <strong>July:</strong>
  <%= @performed_goal_int.july %>
</p>

<p>
  <strong>August:</strong>
  <%= @performed_goal_int.august %>
</p>

<p>
  <strong>September:</strong>
  <%= @performed_goal_int.september %>
</p>

<p>
  <strong>October:</strong>
  <%= @performed_goal_int.october %>
</p>

<p>
  <strong>November:</strong>
  <%= @performed_goal_int.november %>
</p>

<p>
  <strong>December:</strong>
  <%= @performed_goal_int.december %>
</p>

<p>
  <strong>Goal int:</strong>
  <%= @performed_goal_int.goal_int %>
</p>

<%= link_to 'Edit', edit_performed_goal_int_path(@performed_goal_int) %> |
<%= link_to 'Back', performed_goal_ints_path %>
