
<h1>Meta por quantitativo</h1>

<table>
  <thead>
    <tr>
      <th>Name goal int</th>
      <th>Year goal int</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goal_ints.each do |goal_int| %>
      <tr>
        <td><%= goal_int.name_goal_int %></td>
        <td><%= goal_int.year_goal_int %></td>
        <td><%= link_to 'Show', goal_int %></td>
        <td><%= link_to 'Edit', edit_goal_int_path(goal_int) %></td>
        <td><%= link_to 'Destroy', goal_int, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar meta por quantitativo', new_goal_int_path %>
<%= link_to 'Cadastrar meta por moeda ou valor', "/goal_floats" %>
