<p id="notice"><%= notice %></p>

<p>
  <strong>Name goal int:</strong>
  <%= @goal_int.name_goal_int %>
</p>

<p>
  <strong>Year goal int:</strong>
  <%= @goal_int.year_goal_int %>
</p>

<%= link_to 'Edit', edit_goal_int_path(@goal_int) %> |
<%= link_to 'Back', goal_ints_path %>
