<head>
  <p>
     <p><%= link_to "Login", index_user_path %></p>
     <p><%= link_to "Cadastre novo membro", new_user_path %></p>
     <p><%= link_to "Membros", index_user_path %></p>
		 <p><%= link_to "Projetos", index_user_path %></p>
     <p><%= link_to "Metas", index_user_path %></p>
     <p><%= link_to "Times", index_user_path %></p>
  </p>
</header>
