<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>  
  </head>
    
<% if logged_in? %>

    <%= render "layouts/header" %>

    <body>
              <%= yield %>
              
    </body> 

    <%= render "layouts/footer" %>
   

<% else %>
    <body>
             <%= yield %>            
    </body>
   
<% end %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>