<!DOCTYPE html>
<html>
  <head>  <%= csrf_meta_tags %></head>

<% if logged_in? %>


    <body>
    <%= render "layouts/header" %>
              <%= yield %>
  <%= render "layouts/footer" %>
    </body>

<% else %>
    <body>
             <%= yield %>
    </body>

<% end %>

</html>
